.icon-sprite, .read-more:after,
.node-link a:after {
  background: url('../img/icon-s419a39d16a.png') no-repeat;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
input,
select,
textarea {
  font-family: "Droid Serif", Georgia, serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.375em 3em;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.375em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.375em 0;
}

dd {
  margin: 0 0 0 3em;
}

menu,
ol,
ul {
  padding: 0 0 0 3em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #c7c7c7;
  margin: 0.75em 0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.6875em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.6875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.6875em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  color: #333333;
}

div,
section,
header,
footer,
aside,
figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
}

h1 {
  font-size: 2.1875em;
  line-height: 1.2em;
  margin-top: 0.34286em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34286em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2em;
  line-height: 1.125em;
  margin-top: 0.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.5em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

a {
  color: #254590;
  text-decoration: none;
}
a:hover {
  color: #1b3267;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 0.75em;
}

blockquote {
  margin: 0.75em 0 0.75em 3em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  margin-bottom: 1.125em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 24px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}

label {
  font-size: 0.875em;
  line-height: 1.28571em;
  display: block;
  margin-bottom: 0.42857em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.125em;
  padding: 0.1875em;
  margin-bottom: 0.375em;
  max-width: 100%;
  background-color: white;
  border-color: #999999;
  color: #333333;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #999999;
}

input[type="file"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="submit"],
button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.14286em 13px;
  background-color: #e55c16;
  border-color: #de4510;
  color: #fbe6dc;
}
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
}
input[type="submit"]:hover,
button:hover {
  color: white;
}
input[type="submit"]:active,
button:active {
  background-color: #e25213;
}

select {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.42857em;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #b3b3b3;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #b3b3b3;
}

tr.odd {
  background-color: #f0f0f0;
}

tr.even {
  background-color: transparent;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.intro {
  font-size: 1.75em;
  line-height: 1.28571em;
}

.l-constrained {
  *position: relative;
  *zoom: 1;
  padding: 0 12px;
}
.l-constrained:before, .l-constrained:after {
  content: "";
  display: table;
}
.l-constrained:after {
  clear: both;
}
@media (min-width: 1080px) {
  .l-constrained {
    width: 1104px;
    margin: 0 auto;
  }
}

.one-sidebar #sidebar-first,
.one-sidebar #sidebar-second {
  clear: left;
  padding-top: 1.125em;
}
@media (min-width: 768px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  .one-sidebar.sidebar-first #sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: none;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  .one-sidebar.sidebar-second #sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: none;
    padding-top: 0;
  }
}

.two-sidebars #sidebar-second {
  clear: left;
  padding-top: 1.125em;
}
@media (min-width: 768px) {
  .two-sidebars #content {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  .two-sidebars #sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: none;
    padding-top: 0;
  }
}
@media (min-width: 1080px) {
  .two-sidebars #content {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  .two-sidebars #sidebar-second {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/prototype/polyfills/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: none;
    padding-top: 0;
  }
}

#footer {
  *zoom: 1;
  padding: 1.5em 0;
}
#footer:before, #footer:after {
  content: " ";
  display: table;
}
#footer:after {
  clear: both;
}

#header {
  *zoom: 1;
  padding: 1.875em 0;
}
#header:before, #header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}

#branding {
  float: left;
}

#main {
  background-color: white;
}

#above-content {
  padding-top: 0.75em;
}

#main-content {
  padding: 0.75em 0;
}

#messages {
  *zoom: 1;
  font-weight: 600;
  padding: 1.5em 12px 0.375em;
}
#messages:before, #messages:after {
  content: " ";
  display: table;
}
#messages:after {
  clear: both;
}

.page-admin-appearance-styleguide #block-system-main {
  padding-left: 30%;
}

#styleguide-header {
  position: absolute;
  width: 25%;
  margin-left: -30%;
  background-color: transparent;
  border: none;
}
#styleguide-header .item-list {
  float: none;
  width: 100%;
}
#styleguide-header h3 {
  font-size: 0.8125em;
  line-height: 1.38462em;
  margin: 0;
}
#styleguide-header ul {
  margin: 0 0 0.375em;
}
#styleguide-header a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(bottom, #f0f0f0, #ffffff);
  background-image: -o-linear-gradient(bottom, #f0f0f0, #ffffff);
  background-image: linear-gradient(bottom, #f0f0f0, #ffffff);
  border-color: #b3b3b3;
  font-size: 0.875em;
  line-height: 1.28571em;
  display: block;
  padding: 2px 12px;
}
#styleguide-header a:hover {
  text-decoration: none;
}
#styleguide-header a:hover {
  color: #333333;
}
#styleguide-header a:hover {
  border-color: #666666;
}
#styleguide-header a:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbdbdb), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #ffffff);
  background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
  background-image: -o-linear-gradient(top, #dbdbdb, #ffffff);
  background-image: linear-gradient(top, #dbdbdb, #ffffff);
  -webkit-box-shadow: #999999 0 1px 1px inset;
  -moz-box-shadow: #999999 0 1px 1px inset;
  box-shadow: #999999 0 1px 1px inset;
}

h2.styleguide {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 1.5em 0 0.25em;
  color: #292929;
  text-transform: capitalize;
}

.styleguide-description {
  color: #666666;
}
.styleguide-description > code {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #ecf3f7;
  border: 1px solid #c7c7c7;
  padding: 0 .5em;
}

div.styleguide {
  padding: 2.25em 0;
  border-bottom: none;
}

.field-label {
  font-size: 0.8125em;
  line-height: 1.38462em;
  font-weight: bold;
  color: #262626;
}

.read-more,
.node-link a {
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.25em 10px;
}
.read-more:after,
.node-link a:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  position: relative;
  width: 18px;
  height: 18px;
  top: -1px;
}
.read-more:after,
.node-link a:after {
  background-position: 0 -36px;
  margin-right: -4px;
}

.form-item,
.form-actions {
  margin: 1.5em 0;
}

.form-item-description {
  font-size: 0.8125em;
  line-height: 1.38462em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fieldset-legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.fieldset-description {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-bottom: 1.71429em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.js input.form-autocomplete {
  background-position: 100% 6px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -14px;
}

.form-type-checkboxes .form-type-checkbox,
.form-type-radios .form-type-radio {
  margin: 0.375em 0;
}

input.error,
textarea.error,
select.error {
  border: 2px solid red;
}

.machine-name-label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.machine-name-value {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
  margin: 0 .5em;
}

.form-required,
.marker {
  color: #b52828;
  font-weight: bold;
}

.vertical-tab-button {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#active-vertical-tab {
  top: 0;
}

.page-title {
  margin-bottom: 0.68571em;
}

.article-title {
  margin: 0 0 0.25em;
  font-size: 1.5em;
  line-height: 0.75em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.block-title {
  font-size: 1.3125em;
  line-height: 1.42857em;
  margin-bottom: 1.14286em;
  color: #333333;
  font-family: "Droid Serif", Georgia, serif;
  text-transform: uppercase;
}

.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  box-shadow: rgba(102, 102, 102, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

.image-left {
  float: left;
  margin: 0 24px 0.375em 0;
}

.image-right {
  float: right;
  margin: 0 0 0.375em 24px;
}

.link--button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.14286em 13px;
  background-color: #e55c16;
  border-color: #de4510;
  color: #fbe6dc;
}
.link--button:hover {
  text-decoration: none;
}
.link--button:hover {
  color: white;
}
.link--button:active {
  background-color: #e25213;
}

.button--secondary {
  background-color: #333333;
  border-color: #262626;
  color: #e0e0e0;
}
.button--secondary:hover {
  color: white;
}
.button--secondary:active {
  background-color: #2d2d2d;
}

.article-list {
  padding: 0;
  border-bottom: 1px solid #c7c7c7;
}

.article-item {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  padding-bottom: 0.75em;
  display: block;
  border-color: #c7c7c7;
}

.no-bullets {
  margin: 0;
  padding: 0;
}
.no-bullets > li {
  list-style: none;
}

.messages {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0.375em;
  padding: 0.375em 12px;
  color: white;
}
.messages a {
  color: white;
  font-weight: bold;
}
.messages.error {
  background-color: #b52828;
}
.messages.warning {
  background-color: #f27b25;
}
.messages.status {
  background-color: #8cbc1a;
}

.krumo-element,
.krumo-footnote,
.krumo-call,
.krumo-preview {
  color: black;
}

.meta {
  font-size: 0.875em;
  line-height: 1.28571em;
}

.nav, #styleguide-header ul {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline > li {
  display: inline;
}
.nav-inline > li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  content: " ";
  display: table;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.125em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.125em;
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  border: 1px solid #dbdbdb;
  background-color: #f0f0f0;
  color: #999999;
}
.nav-tabs > li > a:hover {
  border-color: #b3b3b3 #b3b3b3 white;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #333333;
  background-color: #dbdbdb;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-tabs.nav-stacked {
  border-bottom: none;
}
.nav-tabs.nav-stacked > li {
  margin-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: white 1px 1px 1px 0 inset, rgba(102, 102, 102, 0.2) -1px 0 0 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset, rgba(102, 102, 102, 0.2) -1px 0 0 0 inset;
  box-shadow: white 1px 1px 1px 0 inset, rgba(102, 102, 102, 0.2) -1px 0 0 0 inset;
  border-right-color: #f0f0f0;
  margin-left: -2px;
}
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #b3b3b3 white #b3b3b3 #b3b3b3;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  margin-right: -1px;
  border-right-color: transparent;
  border-bottom-color: #ddd;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  display: block;
  padding: 0.375em 12px;
  margin-right: 0;
}
.nav-stacked > li > a.active {
  font-weight: bold;
}

.nav-stacked.nav-buttons {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
}
.nav-stacked.nav-buttons > li {
  border-bottom: 1px solid #b3b3b3;
}
.nav-stacked.nav-buttons > li.last {
  border-bottom: none;
}
.nav-stacked.nav-buttons > li > a {
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 0.1875em 12px;
  color: #254590;
}
.nav-stacked.nav-buttons > li > a:hover {
  background-color: #edf1fa;
}
.nav-stacked.nav-buttons > li > a:active, .nav-stacked.nav-buttons > li > a.active {
  background-color: #254590;
  color: white;
}

.nav-inline.nav-buttons {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #666666));
  background-image: -webkit-linear-gradient(top, #b3b3b3, #666666);
  background-image: -moz-linear-gradient(top, #b3b3b3, #666666);
  background-image: -o-linear-gradient(top, #b3b3b3, #666666);
  background-image: linear-gradient(top, #b3b3b3, #666666);
  display: none;
  margin: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  border-right: #999999 1px solid;
  border-left: #b3b3b3 1px solid;
}
.nav-inline.nav-buttons:before, .nav-inline.nav-buttons:after {
  content: " ";
  display: table;
}
.nav-inline.nav-buttons:after {
  clear: both;
}
@media (min-width: 768px) {
  .nav-inline.nav-buttons {
    display: block;
  }
}
.nav-inline.nav-buttons > li {
  float: left;
  margin-right: 0;
}
.nav-inline.nav-buttons > li > a {
  text-shadow: 0px 1px 1px rgba(102, 102, 102, 0.6);
  height: 20px;
  border-right: #f0f0f0 1px solid;
  border-left: #dbdbdb 1px solid;
  padding: 14px 18px;
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (min-width: 992px) {
  .nav-inline.nav-buttons > li > a {
    padding: 14px 24px;
  }
}
.nav-inline.nav-buttons > li > a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb);
  background-image: linear-gradient(top, #f0f0f0, #dbdbdb);
}
.nav-inline.nav-buttons > li > a:active, .nav-inline.nav-buttons > li > a.active, .nav-inline.nav-buttons > li > a.active-trail {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #b3b3b3), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(bottom, #b3b3b3, #999999);
  background-image: -moz-linear-gradient(bottom, #b3b3b3, #999999);
  background-image: -o-linear-gradient(bottom, #b3b3b3, #999999);
  background-image: linear-gradient(bottom, #b3b3b3, #999999);
  border-right: #666666 1px solid;
  border-left: #666666 1px solid;
}

#tabs {
  margin-bottom: 1.5em;
}

.pager {
  padding-left: 0;
  margin-bottom: 0.75em;
  text-align: center;
  list-style: none;
}

.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  font-size: 0.8125em;
  line-height: 1.38462em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #666666;
  background-color: #dbdbdb;
  padding: 2px 8px;
  margin: 0.46154em 2px;
}
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #666666;
  text-decoration: none;
}

.pager-ellipsis {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pager-current {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8125em;
  line-height: 1.38462em;
  color: white;
  background-color: #b3b3b3;
  padding: 0 8px;
  margin: 0.46154em 2px;
}

.password-strength, div.password-confirm {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-top: 1.28571em;
  width: 17em;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  font-weight: bold;
}

.password-indicator {
  height: 0.21429em;
  background-color: #dbdbdb;
}
.password-indicator > .indicator {
  height: 100%;
  width: 0;
  background-color: #999999;
}

input.password-confirm,
input.password-field {
  width: 16em;
}

div.password-confirm {
  float: right;
  visibility: hidden;
  width: 17em;
}

.password-suggestions {
  font-size: 0.8125em;
  line-height: 1.38462em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}

#block-search-form {
  *zoom: 1;
}
#block-search-form:before, #block-search-form:after {
  content: " ";
  display: table;
}
#block-search-form:after {
  clear: both;
}
