/* line 58, icon/*.png */
.icon-sprite, .read-more:after,
.node-link a:after {
  background: url('../images/icon-s419a39d16a.png') no-repeat;
}

/* line 4, ../sass/partials/_buttons.scss */
input[type="submit"], .button--primary, #styleguide-header a {
  @inlude inline-block;
  border-style: solid;
  border-width: 1px;
}
/* line 9, ../sass/partials/_buttons.scss */
input[type="submit"]:hover, .button--primary:hover, #styleguide-header a:hover {
  text-decoration: none;
}

/* line 25, ../sass/partials/_buttons.scss */
input[type="submit"], .read-more,
.node-link a {
  font-size: 0.75em;
  line-height: 1.5em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25em 10px;
}

/* line 33, ../sass/partials/_buttons.scss */
.button--primary {
  font-size: 1.3125em;
  line-height: 1.42857em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: bold;
  padding: 0.14286em 13px;
}

/* line 50, ../sass/partials/_buttons.scss */
#styleguide-header a {
  color: #68707e;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f0f1f2), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #f0f1f2, #ffffff);
  background-image: -moz-linear-gradient(bottom, #f0f1f2, #ffffff);
  background-image: -o-linear-gradient(bottom, #f0f1f2, #ffffff);
  background-image: linear-gradient(bottom, #f0f1f2, #ffffff);
  border-color: #c3c7cc;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#styleguide-header a:hover {
  color: #424c5e;
}
/* line 55, ../sass/partials/_buttons.scss */
#styleguide-header a:hover {
  border-color: #68707e;
}
/* line 59, ../sass/partials/_buttons.scss */
#styleguide-header a:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1e3e6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e1e3e6, #ffffff);
  background-image: -moz-linear-gradient(top, #e1e3e6, #ffffff);
  background-image: -o-linear-gradient(top, #e1e3e6, #ffffff);
  background-image: linear-gradient(top, #e1e3e6, #ffffff);
  -webkit-box-shadow: #a5aab2 0 1px 1px inset;
  -moz-box-shadow: #a5aab2 0 1px 1px inset;
  box-shadow: #a5aab2 0 1px 1px inset;
}

/* line 65, ../sass/partials/_buttons.scss */
input[type="submit"], .views-submit-button > .form-submit, .button--primary {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #de4510), color-stop(100%, #eb731b));
  background-image: -webkit-linear-gradient(bottom, #de4510, #eb731b);
  background-image: -moz-linear-gradient(bottom, #de4510, #eb731b);
  background-image: -o-linear-gradient(bottom, #de4510, #eb731b);
  background-image: linear-gradient(bottom, #de4510, #eb731b);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0 0, #da370d 0 -1px 2px 0px inset, #e25213 0 -12px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0 0, #da370d 0 -1px 2px 0px inset, #e25213 0 -12px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0 0, #da370d 0 -1px 2px 0px inset, #e25213 0 -12px 0 0 inset;
  color: #f0f1f2;
  text-shadow: 0 1px 0 #de4510;
  border-color: #de4510;
  background-color: #68707e;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
input[type="submit"]:hover, .views-submit-button > .form-submit:hover, .button--primary:hover {
  color: white;
}
/* line 79, ../sass/partials/_buttons.scss */
input[type="submit"]:hover, .views-submit-button > .form-submit:hover, .button--primary:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e25213), color-stop(100%, #e76518));
  background-image: -webkit-linear-gradient(top, #e25213, #e76518);
  background-image: -moz-linear-gradient(top, #e25213, #e76518);
  background-image: -o-linear-gradient(top, #e25213, #e76518);
  background-image: linear-gradient(top, #e25213, #e76518);
}
/* line 85, ../sass/partials/_buttons.scss */
input[type="submit"]:active, .views-submit-button > .form-submit:active, .button--primary:active {
  -webkit-box-shadow: #da370d 0 1px 2px inset;
  -moz-box-shadow: #da370d 0 1px 2px inset;
  box-shadow: #da370d 0 1px 2px inset;
  background-color: #e25213;
}

/* line 147, ../sass/partials/_buttons.scss */
.read-more:after,
.node-link a:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  position: relative;
  width: 18px;
  height: 18px;
  top: -1px;
}

/* line 11, ../sass/partials/_utilities.scss */
.clearfix {
  *zoom: 1;
}
/* line 3, ../sass/partials/_utilities.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../sass/global/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 29, ../sass/global/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 42, ../sass/global/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 52, ../sass/global/_normalize.scss */
[hidden] {
  display: none;
}

/* line 76, ../sass/global/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: "Droid Serif", Georgia, serif;
}

/* line 84, ../sass/global/_normalize.scss */
body {
  margin: 0;
}

/* line 97, ../sass/global/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 107, ../sass/global/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 121, ../sass/global/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 130, ../sass/global/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 134, ../sass/global/_normalize.scss */
blockquote {
  margin: 0.375em 48px;
}

/* line 143, ../sass/global/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 151, ../sass/global/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 161, ../sass/global/_normalize.scss */
p,
pre {
  margin: 0.375em 0;
}

/* line 174, ../sass/global/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 186, ../sass/global/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 199, ../sass/global/_normalize.scss */
q {
  quotes: none;
}

/* line 206, ../sass/global/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 211, ../sass/global/_normalize.scss */
small {
  font-size: 75%;
}

/* line 221, ../sass/global/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 228, ../sass/global/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 232, ../sass/global/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 248, ../sass/global/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 0.375em 0;
}

/* line 253, ../sass/global/_normalize.scss */
dd {
  margin: 0 0 0 48px;
}

/* line 263, ../sass/global/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 48px;
}

/* line 272, ../sass/global/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 288, ../sass/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 297, ../sass/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 310, ../sass/global/_normalize.scss */
figure {
  margin: 0;
}

/* line 323, ../sass/global/_normalize.scss */
form {
  margin: 0;
}

/* line 331, ../sass/global/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.06875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.18125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.17188em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.17188em;
}

/* line 347, ../sass/global/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 365, ../sass/global/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 379, ../sass/global/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 393, ../sass/global/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 406, ../sass/global/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 418, ../sass/global/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 432, ../sass/global/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 442, ../sass/global/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 452, ../sass/global/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 462, ../sass/global/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 476, ../sass/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 0.375em;
}

/* line 12, ../sass/global/_base.scss */
html > body {
  line-height: 1.5em;
  color: #424c5e;
  font-family: "Droid Serif", Georgia, serif;
}

/* line 22, ../sass/global/_base.scss */
h1 {
  font-size: 2.1875em;
  line-height: 1.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.17143em;
  color: #e55c16;
}

/* line 28, ../sass/global/_base.scss */
h2 {
  font-size: 2em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.1875em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  color: #e55c16;
}

/* line 35, ../sass/global/_base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.5em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  color: #e55c16;
}

/* line 42, ../sass/global/_base.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  color: #e55c16;
}

/* line 49, ../sass/global/_base.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.28571em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 54, ../sass/global/_base.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  letter-spacing: .03em;
  text-transform: uppercase;
}

/* line 64, ../sass/global/_base.scss */
a {
  color: #254590;
  text-decoration: none;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #1b3267;
}
/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 73, ../sass/global/_base.scss */
p {
  margin: 0 0 0.75em;
}

/* line 80, ../sass/global/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 88, ../sass/global/_base.scss */
dl {
  margin-bottom: 1.125em;
}

/* line 92, ../sass/global/_base.scss */
dt {
  font-weight: bold;
}

/* line 96, ../sass/global/_base.scss */
dd {
  margin-left: 24px;
}

/* line 103, ../sass/global/_base.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 107, ../sass/global/_base.scss */
.intro {
  font-size: 1.75em;
  line-height: 1.28571em;
}

/* line 10, ../sass/global/_images.scss */
.image-frame > img,
.image-frame > a > img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  box-shadow: rgba(104, 112, 126, 0.6) 0 1px 3px;
  padding: 4px;
  background-color: white;
}

/* line 20, ../sass/global/_images.scss */
.image-left {
  float: left;
  margin: 0 24px 0.375em 0;
}

/* line 25, ../sass/global/_images.scss */
.image-right {
  float: right;
  margin: 0 0 0.375em 24px;
}

/* line 10, ../sass/global/_forms.scss */
button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #a5aab2;
  -moz-box-shadow: 0 0 5px #a5aab2;
  box-shadow: 0 0 5px #a5aab2;
}

/* line 14, ../sass/global/_forms.scss */
.form-item {
  margin: 0 0 1em 0;
}

/* line 22, ../sass/global/_forms.scss */
label,
fieldset-legend {
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

/* line 28, ../sass/global/_forms.scss */
.form-required {
  color: #b52828;
  font-weight: bold;
}

/* line 50, ../sass/global/_forms.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 0.375em;
  max-width: 100%;
  background-color: white;
  border: 1px #a5aab2 solid;
  color: #424c5e;
}
/* line 59, ../sass/global/_forms.scss */
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #a5aab2;
}

/* line 73, ../sass/global/_forms.scss */
.views-exposed-form {
  background-color: #f0f1f2;
  padding: 0.375em 12px 0;
}
@media (min-width: 992px) {
  /* line 79, ../sass/global/_forms.scss */
  .views-exposed-form .views-widget,
  .views-exposed-form label {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 12px;
  }
  /* line 84, ../sass/global/_forms.scss */
  .views-exposed-form select {
    position: relative;
    top: 2px;
  }
}

/* line 91, ../sass/global/_forms.scss */
.views-exposed-widget {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 24px;
  float: left;
}

/* line 101, ../sass/global/_forms.scss */
.views-submit-button {
  clear: left;
}
@media (min-width: 480px) {
  /* line 101, ../sass/global/_forms.scss */
  .views-submit-button {
    clear: none;
  }
}

@media (min-width: 480px) {
  /* line 110, ../sass/global/_forms.scss */
  .views-submit-button,
  .views-reset-button {
    position: relative;
    top: 15px;
    margin-right: 12px;
  }
}
@media (min-width: 992px) {
  /* line 110, ../sass/global/_forms.scss */
  .views-submit-button,
  .views-reset-button {
    top: 0;
  }
}

/* line 124, ../sass/global/_forms.scss */
#user-register-form .form-item,
#user-login .form-item,
#user-pass .form-item,
#contact-site-form .form-item,
#user-register-form .form-actions,
#user-login .form-actions,
#user-pass .form-actions,
#contact-site-form .form-actions {
  *zoom: 1;
  padding-left: 252px;
  margin-bottom: 1.125em;
}
/* line 3, ../sass/partials/_utilities.scss */
#user-register-form .form-item:before,
#user-login .form-item:before,
#user-pass .form-item:before,
#contact-site-form .form-item:before, #user-register-form .form-item:after,
#user-login .form-item:after,
#user-pass .form-item:after,
#contact-site-form .form-item:after,
#user-register-form .form-actions:before,
#user-login .form-actions:before,
#user-pass .form-actions:before,
#contact-site-form .form-actions:before,
#user-register-form .form-actions:after,
#user-login .form-actions:after,
#user-pass .form-actions:after,
#contact-site-form .form-actions:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
#user-register-form .form-item:after,
#user-login .form-item:after,
#user-pass .form-item:after,
#contact-site-form .form-item:after,
#user-register-form .form-actions:after,
#user-login .form-actions:after,
#user-pass .form-actions:after,
#contact-site-form .form-actions:after {
  clear: both;
}
/* line 130, ../sass/global/_forms.scss */
#user-register-form .form-item > label,
#user-login .form-item > label,
#user-pass .form-item > label,
#contact-site-form .form-item > label {
  float: left;
  width: 228px;
  margin-left: -252px;
  text-align: right;
}
/* line 137, ../sass/global/_forms.scss */
#user-register-form .form-radios > .form-item,
#user-login .form-radios > .form-item,
#user-pass .form-radios > .form-item,
#contact-site-form .form-radios > .form-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-left: 0;
  margin-top: 0;
}
/* line 142, ../sass/global/_forms.scss */
#user-register-form .form-radios > .form-item > label,
#user-login .form-radios > .form-item > label,
#user-pass .form-radios > .form-item > label,
#contact-site-form .form-radios > .form-item > label {
  display: inline !important;
  float: none;
  margin: 0 24px 0 0;
  width: auto;
}
/* line 149, ../sass/global/_forms.scss */
#user-register-form .form-radios > .form-item > .form-radio,
#user-login .form-radios > .form-item > .form-radio,
#user-pass .form-radios > .form-item > .form-radio,
#contact-site-form .form-radios > .form-item > .form-radio {
  display: inline;
  margin: 0 2px;
}

/* line 166, ../sass/global/_forms.scss */
.page-user .page-title,
.page-contact .page-title {
  padding-left: 252px;
}

/* line 13, ../sass/global/_tables.scss */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
}

/* line 21, ../sass/global/_tables.scss */
thead {
  text-align: left;
}
/* line 24, ../sass/global/_tables.scss */
thead th {
  vertical-align: bottom;
}

/* line 33, ../sass/global/_tables.scss */
th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #c3c7cc;
}

/* line 45, ../sass/global/_tables.scss */
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 50, ../sass/global/_tables.scss */
tbody + tbody {
  border-top: 2px solid #c3c7cc;
}

/* line 59, ../sass/global/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 67, ../sass/global/_tables.scss */
tr.odd {
  background-color: #f0f1f2;
}

/* line 68, ../sass/global/_tables.scss */
tr.even {
  background-color: transparent;
}

/* line 11, ../sass/global/_layout.scss */
.page-width {
  *position: relative;
  *zoom: 1;
  padding: 0 12px;
}
/* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.page-width:before, .page-width:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.page-width:after {
  clear: both;
}
@media (min-width: 1080px) {
  /* line 11, ../sass/global/_layout.scss */
  .page-width {
    width: 1104px;
    margin: 0 auto;
  }
}

/* line 26, ../sass/global/_layout.scss */
.one-sidebar #sidebar-first,
.one-sidebar #sidebar-second {
  clear: left;
  padding-top: 1.125em;
}
@media (min-width: 768px) {
  /* line 33, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
  }
  /* line 37, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-first #sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    clear: none;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  /* line 47, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
  }
  /* line 51, ../sass/global/_layout.scss */
  .one-sidebar.sidebar-second #sidebar-first {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    clear: none;
    padding-top: 0;
  }
}

/* line 63, ../sass/global/_layout.scss */
.two-sidebars #sidebar-second {
  clear: left;
  padding-top: 1.125em;
}
@media (min-width: 768px) {
  /* line 69, ../sass/global/_layout.scss */
  .two-sidebars #content {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
  }
  /* line 73, ../sass/global/_layout.scss */
  .two-sidebars #sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    clear: none;
    padding-top: 0;
  }
}
@media (min-width: 1080px) {
  /* line 81, ../sass/global/_layout.scss */
  .two-sidebars #content {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
  }
  /* line 85, ../sass/global/_layout.scss */
  .two-sidebars #sidebar-second {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 12px;
    padding-right: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("/sites/all/themes/center/boxsizing.htc");
    clear: none;
    padding-top: 0;
  }
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
/* line 17, ../sass/libraries/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 20, ../sass/libraries/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 24, ../sass/libraries/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 25, ../sass/libraries/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 26, ../sass/libraries/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 27, ../sass/libraries/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 30, ../sass/libraries/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 31, ../sass/libraries/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 32, ../sass/libraries/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 37, ../sass/libraries/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* line 7, ../sass/elements/_buttons.scss */
.button--primary {
  margin-bottom: 0.375em;
}

/* line 7, ../sass/elements/_fields.scss */
.field-label {
  font-size: 0.8125em;
  line-height: 1.38462em;
  font-weight: bold;
  color: #313946;
}

/* line 19, ../sass/elements/_fields.scss */
.read-more:after,
.node-link a:after {
  background-position: 0 -36px;
  margin-right: -4px;
}

/* line 7, ../sass/elements/_headings.scss */
.page-title {
  margin-bottom: 0.68571em;
}

/* line 12, ../sass/elements/_headings.scss */
.article-title {
  margin: 0 0 0.25em;
  font-size: 1.5em;
  line-height: 0.75em;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-weight: bold;
}

/* line 20, ../sass/elements/_headings.scss */
.block-title {
  font-size: 1.3125em;
  line-height: 1.42857em;
  margin-bottom: 1.14286em;
  color: #424c5e;
  font-family: "Droid Serif", Georgia, serif;
  text-transform: uppercase;
}

/* line 7, ../sass/elements/_lists.scss */
.article-list {
  padding: 0;
  border-bottom: 1px solid #d2d5d9;
}

/* line 12, ../sass/elements/_lists.scss */
.article-item {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  padding-bottom: 0.75em;
  display: block;
  border-color: #d2d5d9;
}

/* line 27, ../sass/elements/_lists.scss */
.no-bullets {
  margin: 0;
  padding: 0;
}
/* line 31, ../sass/elements/_lists.scss */
.no-bullets > li {
  list-style: none;
}

/* line 6, ../sass/elements/_meta.scss */
.meta {
  font-size: 0.875em;
  line-height: 1.28571em;
}

/* line 4, ../sass/elements/_navigation.scss */
.nav, #styleguide-header ul {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

/* line 11, ../sass/elements/_navigation.scss */
.nav-inline > li {
  display: inline;
}
/* line 14, ../sass/elements/_navigation.scss */
.nav-inline > li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 25, ../sass/elements/_navigation.scss */
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
/* line 3, ../sass/partials/_utilities.scss */
.nav-tabs:before, .nav-tabs:after,
.nav-pills:before,
.nav-pills:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

/* line 30, ../sass/elements/_navigation.scss */
.nav-tabs > li,
.nav-pills > li {
  float: left;
}

/* line 35, ../sass/elements/_navigation.scss */
.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
}

/* line 46, ../sass/elements/_navigation.scss */
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

/* line 51, ../sass/elements/_navigation.scss */
.nav-tabs > li {
  margin-bottom: -1px;
}

/* line 56, ../sass/elements/_navigation.scss */
.nav-tabs > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.125em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.125em;
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  border: 1px solid #e1e3e6;
  background-color: #f0f1f2;
  color: #a5aab2;
}
/* line 65, ../sass/elements/_navigation.scss */
.nav-tabs > li > a:hover {
  border-color: #c3c7cc #c3c7cc white;
}

/* line 72, ../sass/elements/_navigation.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #424c5e;
  background-color: #e1e3e6;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/* line 80, ../sass/elements/_navigation.scss */
.nav-tabs.nav-stacked {
  border-bottom: none;
}
/* line 83, ../sass/elements/_navigation.scss */
.nav-tabs.nav-stacked > li {
  margin-bottom: 0;
}
/* line 87, ../sass/elements/_navigation.scss */
.nav-tabs.nav-stacked > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: white 1px 1px 1px 0 inset, rgba(104, 112, 126, 0.2) -1px 0 0 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset, rgba(104, 112, 126, 0.2) -1px 0 0 0 inset;
  box-shadow: white 1px 1px 1px 0 inset, rgba(104, 112, 126, 0.2) -1px 0 0 0 inset;
  border-right-color: #f0f1f2;
  margin-left: -2px;
}
/* line 97, ../sass/elements/_navigation.scss */
.nav-tabs.nav-stacked > li > a:hover {
  border-color: #c3c7cc white #c3c7cc #c3c7cc;
}
/* line 103, ../sass/elements/_navigation.scss */
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
  -webkit-box-shadow: white 1px 1px 1px 0 inset;
  -moz-box-shadow: white 1px 1px 1px 0 inset;
  box-shadow: white 1px 1px 1px 0 inset;
  margin-right: -1px;
  border-right-color: transparent;
  border-bottom-color: #ddd;
}

/* line 118, ../sass/elements/_navigation.scss */
.nav-stacked > li {
  float: none;
}

/* line 122, ../sass/elements/_navigation.scss */
.nav-stacked > li > a {
  display: block;
  padding: 0.375em 12px;
  margin-right: 0;
}
/* line 127, ../sass/elements/_navigation.scss */
.nav-stacked > li > a.active {
  font-weight: bold;
}

/* line 136, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #c3c7cc;
}
/* line 140, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons > li {
  border-bottom: 1px solid #c3c7cc;
}
/* line 143, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons > li.last {
  border-bottom: none;
}
/* line 147, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons > li > a {
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 0.1875em 12px;
  color: #254590;
}
/* line 152, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons > li > a:hover {
  background-color: #edf1fa;
}
/* line 157, ../sass/elements/_navigation.scss */
.nav-stacked.nav-buttons > li > a:active, .nav-stacked.nav-buttons > li > a.active {
  background-color: #254590;
  color: white;
}

/* line 168, ../sass/elements/_navigation.scss */
.nav-inline.nav-buttons {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c7cc), color-stop(100%, #68707e));
  background-image: -webkit-linear-gradient(top, #c3c7cc, #68707e);
  background-image: -moz-linear-gradient(top, #c3c7cc, #68707e);
  background-image: -o-linear-gradient(top, #c3c7cc, #68707e);
  background-image: linear-gradient(top, #c3c7cc, #68707e);
  display: none;
  margin: 0;
  border-top: 1px solid #c3c7cc;
  border-bottom: 1px solid #c3c7cc;
  border-right: #a5aab2 1px solid;
  border-left: #c3c7cc 1px solid;
}
/* line 3, ../sass/partials/_utilities.scss */
.nav-inline.nav-buttons:before, .nav-inline.nav-buttons:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
.nav-inline.nav-buttons:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 168, ../sass/elements/_navigation.scss */
  .nav-inline.nav-buttons {
    display: block;
  }
}
/* line 183, ../sass/elements/_navigation.scss */
.nav-inline.nav-buttons > li {
  float: left;
  margin-right: 0;
}
/* line 188, ../sass/elements/_navigation.scss */
.nav-inline.nav-buttons > li > a {
  text-shadow: 0px 1px 1px rgba(104, 112, 126, 0.6);
  height: 20px;
  border-right: #f0f1f2 1px solid;
  border-left: #e1e3e6 1px solid;
  padding: 14px 18px;
  margin: 0;
  color: white;
  font-weight: bold;
}
@media (min-width: 992px) {
  /* line 188, ../sass/elements/_navigation.scss */
  .nav-inline.nav-buttons > li > a {
    padding: 14px 24px;
  }
}
/* line 202, ../sass/elements/_navigation.scss */
.nav-inline.nav-buttons > li > a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f1f2), color-stop(100%, #e1e3e6));
  background-image: -webkit-linear-gradient(top, #f0f1f2, #e1e3e6);
  background-image: -moz-linear-gradient(top, #f0f1f2, #e1e3e6);
  background-image: -o-linear-gradient(top, #f0f1f2, #e1e3e6);
  background-image: linear-gradient(top, #f0f1f2, #e1e3e6);
}
/* line 208, ../sass/elements/_navigation.scss */
.nav-inline.nav-buttons > li > a:active, .nav-inline.nav-buttons > li > a.active, .nav-inline.nav-buttons > li > a.active-trail {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #c3c7cc), color-stop(100%, #a5aab2));
  background-image: -webkit-linear-gradient(bottom, #c3c7cc, #a5aab2);
  background-image: -moz-linear-gradient(bottom, #c3c7cc, #a5aab2);
  background-image: -o-linear-gradient(bottom, #c3c7cc, #a5aab2);
  background-image: linear-gradient(bottom, #c3c7cc, #a5aab2);
  border-right: #68707e 1px solid;
  border-left: #68707e 1px solid;
}

/* line 216, ../sass/elements/_navigation.scss */
#tabs {
  margin-bottom: 1.5em;
}

/* line 7, ../sass/components/_footer.scss */
#footer {
  *zoom: 1;
  padding: 1.5em 0;
}
/* line 3, ../sass/partials/_utilities.scss */
#footer:before, #footer:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
#footer:after {
  clear: both;
}

/* line 7, ../sass/components/_header.scss */
#header {
  *zoom: 1;
  padding: 1.875em 0;
}
/* line 3, ../sass/partials/_utilities.scss */
#header:before, #header:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
#header:after {
  clear: both;
}

/* line 13, ../sass/components/_header.scss */
#branding {
  float: left;
}

/* line 7, ../sass/components/_main.scss */
#main {
  background-color: white;
}

/* line 12, ../sass/components/_main.scss */
#above-content {
  padding-top: 0.75em;
}

/* line 17, ../sass/components/_main.scss */
#main-content {
  padding: 0.75em 0;
}

/* line 7, ../sass/components/_messages.scss */
#messages {
  *zoom: 1;
  font-weight: 600;
  padding: 1.5em 12px 0.375em;
}
/* line 3, ../sass/partials/_utilities.scss */
#messages:before, #messages:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
#messages:after {
  clear: both;
}

/* line 14, ../sass/components/_messages.scss */
.messages {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0.375em;
  padding: 0.375em 12px;
  color: white;
}
/* line 20, ../sass/components/_messages.scss */
.messages a {
  color: white;
  font-weight: bold;
}
/* line 26, ../sass/components/_messages.scss */
.messages.error {
  background-color: #b52828;
}
/* line 27, ../sass/components/_messages.scss */
.messages.warning {
  background-color: #f27b25;
}
/* line 28, ../sass/components/_messages.scss */
.messages.status {
  background-color: #9cc524;
}

/* line 7, ../sass/components/_pager.scss */
.pager {
  padding-left: 0;
  margin-bottom: 0.75em;
  text-align: center;
  list-style: none;
}

/* line 19, ../sass/components/_pager.scss */
.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 22, ../sass/components/_pager.scss */
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  font-size: 0.8125em;
  line-height: 1.38462em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #68707e;
  background-color: #e1e3e6;
  padding: 2px 8px;
  margin: 0.46154em 2px;
}
/* line 30, ../sass/components/_pager.scss */
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #68707e;
}

/* line 37, ../sass/components/_pager.scss */
.pager-ellipsis {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 41, ../sass/components/_pager.scss */
.pager-current {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.8125em;
  line-height: 1.38462em;
  color: white;
  background-color: #c3c7cc;
  padding: 0 8px;
  margin: 0.46154em 2px;
}

/* line 7, ../sass/components/_search.scss */
#block-search-form {
  *zoom: 1;
}
/* line 3, ../sass/partials/_utilities.scss */
#block-search-form:before, #block-search-form:after {
  content: " ";
  display: table;
}
/* line 7, ../sass/partials/_utilities.scss */
#block-search-form:after {
  clear: both;
}

/* line 7, ../sass/components/_styleguide.scss */
.page-admin-appearance-styleguide #block-system-main {
  padding-left: 30%;
}

/* line 13, ../sass/components/_styleguide.scss */
#styleguide-header {
  position: absolute;
  width: 25%;
  margin-left: -30%;
  background-color: transparent;
  border: none;
}
/* line 20, ../sass/components/_styleguide.scss */
#styleguide-header .item-list {
  float: none;
  width: 100%;
}
/* line 25, ../sass/components/_styleguide.scss */
#styleguide-header h3 {
  font-size: 0.8125em;
  line-height: 1.38462em;
  margin: 0;
}
/* line 30, ../sass/components/_styleguide.scss */
#styleguide-header ul {
  margin: 0 0 0.375em;
}
/* line 35, ../sass/components/_styleguide.scss */
#styleguide-header a {
  font-size: 0.875em;
  line-height: 1.28571em;
  display: block;
  padding: 2px 12px;
}

/* line 44, ../sass/components/_styleguide.scss */
h2.styleguide {
  font-size: 1.3125em;
  line-height: 1.42857em;
  margin: 0.57143em 0 0;
}

/* line 49, ../sass/components/_styleguide.scss */
div.styleguide {
  padding: 0.75em 0;
  border-bottom: none;
}
