//
// @file
// Button and link styles.
// ---------------------------------------------------------------------------
@mixin button {
  @include inline-block;

  &:hover {
    text-decoration: none;
  }
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  @include adjust-font-size-to($fs-xxs);
  font-family: $ff-sans;
  padding: rhythm(.25, $fs-xxs) 6px;
}

@mixin button--small {
  @include adjust-font-size-to($fs-xxs);
  font-family: $ff-sans;
  padding: rhythm(.5, $fs-xxs) 10px;
}

@mixin button--medium {
  @include adjust-font-size-to($fs-m, 4);
  font-family: $ff-sans;
  padding: rhythm(.5, $fs-l) 13px;
}

@mixin button--large {
  @include adjust-font-size-to($fs-l);
  @include border-radius($radius-m);
  padding: rhythm(1, $fs-l) 18px;
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  background-color: $clr-btn--primary;

  &:hover {
  }

  &:active {
  }
}

@mixin button--secondary {
  background-color: $clr-btn--secondary;

  &:hover {
  }

  &:active {
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: 18px) {
  @include inline-block;
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
}

@mixin button-icon--before {
  &:before {
    @include button-icon();
    top: -1px;
  }
}

@mixin button-icon--after {
  &:after {
    @include button-icon();
    top: -1px;
  }
}
