//
// @file
// List component.
// ---------------------------------------------------------------------------
%list--no-bullets {
  > .list-content {
    margin: 0;
    padding: 0;

    > .list-item {
      list-style: none;
    }
  }
}

%list--inline {
  @extend %list--no-bullets;

  > .list-content {

    > .list-item  {
      margin: 0;
      padding: 0 5px;
      @include inline-block;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// Base class.
// ---------------------------------------------------------------------------
.list {
}

.list-content {
  @extend %list--no-bullets;

  > .list-item {
    margin-bottom: rhythm(4);
  }
}

.list-item {
}
