//
// @file
// Heading and title styles.
// ----------------------------------------------------------------------------

// Article list
.article-list {
  padding: 0;
  border-bottom: 1px solid $clr-border;
}

.article-item {
  @include leading-border(1px, 2);
  padding-bottom: rhythm(2);
  display: block;
  border-color: $clr-border;
}

// Feature list
.feature-list {
}

.feature-item {
}

// No bullets
.no-bullets {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}
