//
// @file
// Pager styles.
// ---------------------------------------------------------------------------

// Pager list.
.pager {
  padding-left: 0;
  margin-bottom: rhythm(2);
  text-align: center;
  list-style: none;
}

// Pager list items.
.pager-current,
.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  @include inline-block;

  > span,
  > a {
    color: $gray-dark;
    padding: 2px;
    margin: rhythm(1, $fs-xs) 2px;
    @include adjust-font-size-to($fs-xs);
  }
}

.pager-ellipsis {
  @include inline-block;
}

.pager-current {
}
